<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Link</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://okkuso.com">おっくソぶろぐ</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://note.mu/whoismukuchikun">note</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://twitter.com/ok_kushun">Twitter</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.instagram.com/ok_kushun/">Instagram</a></h2>
  </li>
</ul>

